{% extends "base.html" %}
{% from "macros.jinja" import render_form %}

{% block title %}Select field editor{% endblock %}

{% block nav %}
<a class="nav-item" href="{{ url_for('index_page.index') }}">Формы</a>
<a class="nav-item" href="{{ url_for('form_editor_page.form_editor') }}">Редактор форм</a>
<b class="nav-item" >Редактор полей выбора</b>
{% endblock %}

{% block content %}
{% include "messages.html" %}
<div class="flex-container">{{ render_form(preview) }}</div>
<div class="flex-container">
    {{ render_form(editor, "Редактор") }}
    {{ render_form(save, "Сохранение") }}
</div>
{% endblock %}
