{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form, render_field %}

{% block title %}Form editor{% endblock %}

{% block nav %}
<a href="{{ url_for('index_page.index') }}">Index</a>
<b>Form editor</b>
<a href="{{ url_for('field_editor_page.field_editor') }}">Field editor</a>
{% endblock %}

{% block content %}
{%- for field in preview %}
    {%- if field.name != "csrf_token" %}
        {% if field.type == "BooleanField" %}
        {{ field.name }} {{ field }} {{ field.label }}
        {% else %}
        {{ field.name }} {{ field.label }} {{ field }}
        {% endif %}
        <br>
    {% endif %}
{% endfor %}
{{ render_form(editor) }}
{{ render_form(save) }}
{% endblock %}
