{% extends "base.html" %}
{% from "macros.jinja" import render_form, render_preview %}

{% block title %}Редактор форм{% endblock %}

{% block nav %}
<a class="nav-item" href="{{ url_for('index_page.index') }}">Формы</a>
<b class="nav-item" >Редактор форм</b>
<a class="nav-item" href="{{ url_for('field_editor_page.field_editor') }}">Редактор полей выбора</a>
{% endblock %}

{% block content %}
{% include "messages.html" %}
<div class="flex-container">{{ render_preview(preview) }}</div>
<div class="flex-container">
    {{ render_form(editor, "Добавление поля в форму") }}
    {{ render_form(save, "Сохранение формы") }}
</div>
{% endblock %}
