{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Index{% endblock %}
{% block nav %}
<b>Index</b>
<a href="{{ url_for('form_editor_page.form_editor') }}">Form editor</a>
<a href="{{ url_for('field_editor_page.field_editor') }}">Field editor</a>
{% endblock %}

{% block content %}
{%- for name, form in forms.items() %}
    <div style="border:1px solid black;">
        <p>{{ name }}</p>
        {{ render_form(form) }}
    </div>
{% endfor %}
{% endblock %}
