{% extends "base.html" %}
{% from "macros.jinja" import render_form %}

{% block title %}{{ form_label }}{% endblock %}

{% block nav %}
<a class="nav-item" href="{{ url_for('index_page.index') }}">Назад</a>
{% if editor_mode %}
<a class="nav-item" href="{{ url_for('form_editor_page.form_editor') }}">Редактор форм</a>
<a class="nav-item" href="{{ url_for('field_editor_page.field_editor') }}">Редактор полей выбора</a>
{% endif %}
{% endblock %}

{% block content %}
{% include "messages.html" %}
<div class="flex-container">
    {{ render_form(form, form_label) }}
</div>
{% endblock %}
