{% extends "base.html" %}

{% block title %}Формы{% endblock %}

{% block nav %}
<b class="nav-item" >Формы</b>
{% if editor_mode %}
<a class="nav-item" href="{{ url_for('form_editor_page.form_editor') }}">Редактор форм</a>
<a class="nav-item" href="{{ url_for('field_editor_page.field_editor') }}">Редактор полей выбора</a>
{% else %}
<a class="nav-item" href="{{ url_for('auth_page.auth') }}">Авторизация</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="form-list">
{%- for form_label, form_id in forms.items() %}
    <a class="form-link" href="{{ url_for('form_page.show', form_id=form_id) }}">{{ form_label }}</a>
{% endfor %}
</div>
{% endblock %}
